{% extends 'layout.html.twig' %}

{% block content %}
    <h1>{{bluray.title}}</h1>
    <div class="detailPicture">
        <img src="{{ asset(bluray.picture, 'imgBluray') | imagine_filter('blurayDetail') }}" />
        <h2>Description</h2>
        <p><label>Type : </label>{{bluray.type}}</p>
        {{bluray.description}}
    </div>
    <div class="detailTrailer">
        <h2>Trailer</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{bluray.trailer}}" frameborder="0" allowfullscreen></iframe>
    </div>
{% endblock %}
