{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Blu-ray</h1>
    <div class='listingBluray'>
        <div class="pagination">
            {{ knp_pagination_render(pagination) }}
        </div>
        {% for article in pagination %}
            <div>
                <div class="pictureListing">
                    <img src="{{ asset(article.picture, 'imgBluray') | imagine_filter('blurayListing') }}" />
                </div>
                <div class="descriptionListing">
                    <h2>{{article.title}}</h2>
                    {{article.description}}
                </div>
            </div>
        {% endfor %}
        <div class="pagination">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}